.wrap-all {
    display: flex;
    background-color: brown;
}

.text-ex {
    color: var(--color-text);
}

.background {
    width: 430px;
    height: 932px;
    flex-shrink: 0;
    background-image: url("./assets/Backgrounds/Background3.png");
}
