.card-styling {
    width: 7.5rem;
    height: 7.5rem;
    flex-shrink: 0;
    border-radius: 1.25rem;
    border: 2px solid #E9D051;
    background: rgba(255, 255, 255, 0.50);
    margin-inline: 0.5rem;
    margin-top: 1.25rem;
}

.center {
    display: flex;
    justify-content: center;
}